{% extends 'base.html' %}

{% block head %}
<title>Plant incubator</title>
{% endblock %}


{% block body %}
<div class="cntr">
    <a href="."><img src="static/logo.png" width="15%" style="padding: 30px;"></a>
</div>

<div class="cntr">
    <form method="post" action="/led_on" class="side_by_side">
        <input value="LED ON" name="btn" class="btn" type="submit"></input>
    </form>

    <form method="post" action="/led_off" class="side_by_side">
        <input value="LED OFF" name="btn" class="btn" type="submit"></input>
    </form>

    <div style="margin-top: 1cm;">
        <form method="post" action="/timer_on">
            <p>Status: {{ (timer_log | safe) }}</p>

            <div id="timer_panel">
                <div>
                    <p class="side_by_side">Start time:</p>
                    <input class="side_by_side" type="number" id="quantity" name="timer_start_hours" min="0" max="23">
                    <p class="side_by_side">:</p>
                    <input class="side_by_side" type="number" id="quantity" name="timer_start_minutes" min="0" max="59">
                </div>

                <div>
                    <p class="side_by_side">End time:</p>
                    <input class="side_by_side" type="number" id="quantity" name="timer_stop_hours" min="0" max="23">
                    <p class="side_by_side">:</p>
                    <input class="side_by_side" type="number" id="quantity" name="timer_stop_minutes" min="0" max="59">
                </div>
            </div>

            <div>
                <input class="btn" value="SET TIMER" name="timer_set" type="submit" width="4cm"></input>
            </div>
        </form>
        <form method="post" action="/timer_off">
            <input class="btn" value="UNSET TIMER" name="timer_set" type="submit" width="4cm"></input>
        </form>
    </div>
</div>


{% endblock %}